.header{ 
    background-color: #28373E;
    height:100px;
    width: 100%;
    position: fixed;
}
.container1{
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    
}

.flex1{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aligncenter{
    display:flex;
    align-items: center;
}

.nav>ul>li{
    list-style-type: none;
}
.logo{
    color:rgb(29, 184, 227);
    font-weight: bold;
}

.logoimg{
    margin: 0;
    padding: 0;
    height:75px;
}
.header{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.header nav ul li{
    margin-left: 2.1rem;
}
nav ul li {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.nav-text{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    /* background-color: black; */
    color: #ffff;
}
 #toggle{
    display: none;
} 
.bars{
    display: none;
}
.cart{
    color:white;
    font-size: 35px;
    /* background-color:red; */
}
@media all and (max-width:1408px){
    .container{
      width:80%;
      margin:auto;
      padding-top:15px;
    }
}
@media all and (max-width:968px) {
    
    .logoimg{
        height:40px;
    }

  .bg-column{
       flex-direction: column;
   }
   .nav{
       display: none;
   }
   .nav li{
       margin: 16px 0;
   }
   #toggle:checked ~ .nav{
       display: inline-block;
   }
   .header{
       height: 60px;
       position: fixed;
   }
   .logo{
    position: fixed;
    left: 32px;
    top: 12px;  
    z-index: 99;
   }
   .bars{
       font-size: 24px;
       color: #ffffff;
       position: fixed;
       right: 32px;
       top: 12px;  
       z-index: 99;
       display: inline-block;
   }
   .nav{
       position: fixed;
       left: 0;
       right: 0;
       bottom: 0;
       top: 0;
       width: 100%;
       height: 100vh;
       background-color: rgba(33,57,106,0.9);
       padding-top: 120px;
       z-index: 9;

   }
}


