*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(to right, blue, green);
    height: 700px;
    display: flex;
    align-items: center;
}
.container > div{
    padding: 2% 3%;
    height: 50%;
    width: 30%;
    margin:auto;
    background-color:white;
    box-shadow: rgba(4, 124, 22, 0.35) 0px 5px 15px;
    border-radius:50px;

}
.container > div > input{
    width: 80%;
    margin-top: 20px;
    border-top: 1px solid blue;
    border-radius: 50px;
    padding: 7px;
    font-size:20px;
}
.btn{
    margin-top:20px;
    color: white;
    background-color:blue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    box-shadow: rgba(4, 124, 22, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 992px){
    .container > div{
        width: 95%;
    }
}

