*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signcontainer{
    background-image: linear-gradient(to right, rgb(193, 142, 14), white);
    height: 700px;
    display: flex;
    padding: 100px;
    align-items: center;
}
.signcontainer > div{
    padding: 5% 6%;
    height: 90%;
    width: 30%;
    margin:auto;
    background-color:white;
    box-shadow: rgba(4, 124, 22, 0.35) 0px 5px 15px;
    border-radius:50px;

}
.signcontainer > div > input{
    width: 95%;
    margin-top: 20px;
    border-top: 1px solid darkblue;
    border-radius: 50px;
    padding: 7px 10px;
    font-size:20px;
}
.signbtn{
    margin-top:20px;
    color: white;
    background-color:blue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    box-shadow: rgba(4, 124, 22, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 992px){
    .signcontainer > div{
        width: 95%;
    }
}

